<form action="/user/sign_up_action">
    email : <input type="email" name="email" /> <br>
    name : <input type="name" name="name" /> <br>
    password : <input type="password" name="password"/> <br>
    <input type="submit" value="sign_up"/>
</form>